# Pandas

- Python library for data analysis
- "mimics a lot of the functionality of R; so you get the power of R, without the quirks or R."[^1]
- 2D data structure: "Data Frame"
  - can load data into the Frame e.g. using `pandas.read_csv()`
  - display in Jupyter with rich output
  - styled using HTML
  - can access styles using `data_frame.style` property and its member functions

[^1]: <https://app.pluralsight.com/course-player?clipId=5cc18382-2d14-40ce-8098-0419b2d44441>

In [1]:
url = 'https://data.seattle.gov/api/views/2khk-5ukd/rows.csv?accessType=DOWNLOAD'

In [7]:
!curl {url} -o "../data/City of Seattle Wage Data.csv"

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  699k    0  699k    0     0   628k      0 --:--:--  0:00:01 --:--:--  628k

In [8]:
import pandas as pd

In [9]:
df_wages = pd.read_csv("../data/City of Seattle Wage Data.csv")

In [13]:
df_wages

,Department,Last Name,First Name,Job Title,Hourly Rate
0,Police Department,Metcalf,Jason,Pol Ofcr-Patrl-BWV,54.2900
1,Seattle Center,Quantrille,Cameron,Laborer *,24.6000
2,Seattle Center,Tran,Kayley,Actg Tech II-BU,30.1400
3,Seattle Public Utilities,Wagner,Maxwell,Drainage&Wstwtr Coll Wkr CI,38.0700
4,Parks & Recreation,Fuentez-Smith,Linda,Rec Attendant *,17.8500
...,...,...,...,...,...
11720,Seattle City Light,Nissley,Paul,"StratAdvsr2,Utils-BU",55.9912
11721,Parks & Recreation,Tola,Nardos,Rec Leader *,19.9500
11722,Seattle Dept of Transportation,Carney,Kalen,"StratAdvsr2,Fin,Bud,&Actg",60.0000
11723,Finance & Admin Services,Spivey,Paul,"StratAdvsr2,General Govt",61.6546
11724,Police Department,Lee,Jin,Pol Ofcr-BWV,45.9600